<h2 class="mat-display-2">
  <!-- if we select an item with show edit otherwise we are in "create mode" -->
  <span *ngIf="selectedItem.id; else prompt" >Editing {{originalName}}</span>
  <ng-template #prompt>Create</ng-template>
</h2>
<form
  (submit)="saved.emit(selectedItem)"
>
  <mat-form-field class="form-full-width">
    <input
      type="text"
      placeholder="Name"
      [(ngModel)]="selectedItem.name"
      name="name"
      matInput
    >
  </mat-form-field>
  <br>
  <mat-form-field class="form-full-width">
    <input
    type="text"
    placeholder="Heading"
    [(ngModel)]="selectedItem.heading"
    name="heading"
    matInput
    >
  </mat-form-field>
  <br>
  <mat-form-field class="form-full-width">
    <input
      type="text"
      placeholder="Description"
      [(ngModel)]="selectedItem.description"
      name="description"
      matInput
    >
  </mat-form-field>
  <br>
  <button
    mat-raised-button
    type="submit"
    md-button
  >
    Save
  </button>
  <button
    mat-button
    type="button"
    (click)="cancelled.emit(selectedItem)"
  >
    Cancel
  </button>
  <br>
  <br>
  <br>
  <mat-card
    *ngIf="selectedItem.name;"
    class="example-card"
    id={{selectedItem.id}}
  >
    <mat-card-title>{{selectedItem.name}}</mat-card-title>
    <mat-card-subtitle>{{selectedItem.heading}}</mat-card-subtitle>
    <mat-card-content>
      <p>
        {{selectedItem.description}}
      </p>
    </mat-card-content>
  </mat-card>
</form>